body {
    background-color: white;
    border: 2px solid #008CBA;
}

h1 {
    color: black;
    margin-left: 18px;
    font-size: 22px;
    font-family: Sans-serif;
}

h2 {
    color: black;
    margin-left: 18px;
    font-size: 18px;
    font-family: Sans-serif;
}

.terminal
{
    display: inline-block;
    position: static;
    overflow: auto;
    resize: none;
    width: 50%;
    float: right;
    height: 100%;
    top:100px;
    right: 10px;
    background: orange;
}

.buttons
{
    position: fixed;
    float: left;
    width:  45%;
    height: 60%;
    background:white;
    left:18px;
    top: 18px;
}

.button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    height:50px;
    width:400px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.logo
{
    position: fixed;
    float: left;
    width:  45%;
    height: 20%;
    background:blue;
    right:18px;
    top: 18px;
}