body {
    background-color: white;
    border: 2px solid #019EED;
}

h1 {
    color: black;
    margin-left: 18px;
    font-size: 22px;
    font-family: Sans-serif;
}

h2 {
    color: black;
    margin-left: 18px;
    font-size: 18px;
    font-family: Sans-serif;
}

h3 {
    color: black;
    margin-left: 18px;
    font-size: 15px;
    font-family: Sans-serif;
}

.terminal
{
    display: inline-block;
    position: static;
    overflow: auto;
    resize: none;
    width: 100%;
    float: right;
    height: 100%;
    top: 120px;
    right: 0px;
    background: white;
}

.buttons
{
    position: fixed;
    float: left;
    width:  35%;
    height: 60%;
    background:white;
    left:18px;
    top: 39px;
}

.button {
    background-color: #019EED; /* Blue */
    border: none;
    color: white;
    height:50px;
    width:330px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #019EED;
}

.logo
{
    position: fixed;
    float: right;
    width:  65%;
    height: 100%;
    background:white;
    right:0px;
    top: 20px;
}

.img
{
    position: absolute;
    float: right;
    width:  300px;
    height: 120px;
    background:white;
    right:0px;
    top: 0px;
}